* {
	border-radius: 0 !important;
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	-o-border-radius: 0 !important;
	-ms-border-radius: 0 !important;
	-khtml-border-radius: 0 !important;
}

#talk-details-jqm-page p, h2.talk-details-jqm-page-h2 {
	margin: 0 !important;
}